@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Exam Result Analytics</h1>
    <p class="lead">Exam Result Analytics is a software for observing overall performance pattern of IOE Students</p>
  
</div>

<div class="row">
    <div class="col-md-4">
     
    </div>
</div>